
		<div class="my_box">
			
			<!--黄色部分-->
			<div class="my_top">
				<div class="my_people"></div>
				<div class="my_myInfo">
					<p>18600756933</p>
					<p>注册会员</p>
				</div>
				<div class="my_arrow"></div>
			</div>
			<p class="my_help"></p>
			<div class="my_collection">
				<a href="##">商品收藏</a>
				<a href="##">店铺收藏</a>
			</div>
			<p class="my_help1"></p>
			
			<!--我的订单部分-->
			<div class="my_myOrder">
					我的订单
					<a href="##">查看全部订单<span></span></a>
					
					<!--中间第一排小图标-->
					<div class="my_orders">
						<dl>
							<dt><img src="img/order1.png"/></dt>
							<dd>待付款</dd>
						</dl>
						<dl>
							<dt><img src="img/order2.png"/></dt>
							<dd>待收货</dd>
						</dl>
						<dl>
							<dt><img src="img/order3.png"/></dt>
							<dd>待评价</dd>
						</dl>
						<dl>
							<dt><img src="img/order4.png"/></dt>
							<dd>退款/售后</dd>
						</dl>
					</div>

			</div>
			<!--中间第二排小图标-->
			<div class="my_other">
				<div class="my_up">
					<dl>
						<dt><img src="img/shoppingCity.png"/></dt>
						<dd>积分商城</dd>
					</dl>
					<dl>
						<dt><img src="img/discount.png"/></dt>
						<dd>优惠券</dd>
					</dl>
					<dl>
						<dt><a href="#addPosition"><img src="img/position.png"/></a></dt>
						<dd><a href="#addPosition">收获地址</a></dd>
					</dl>
					<dl>
						<dt><img src="img/service.png"/></dt>
						<dd>客服/反馈</dd>
					</dl>
				</div>
				<!--下面小图标-->
				<div class="my_down">
					<dl>
						<dt><img src="img/aboutUs.png"/></dt>
						<dd>关于我们</dd>
					</dl>
					<dl>
						<dt><img src="img/enjoy.png"/></dt>
						<dd>分享给朋友</dd>
					</dl>
				</div>
			</div>
			
			<div class="my_exit">
				退出当前账号
			</div>
			
			<div class="my_space"></div>
			
			
			
			
	