
			<header class="sr_header">
				<a class="back" href="#home"></a>
				<input type="text" placeholder="请输入商品名称"/>
				<a href="#searchResult">搜索</a>
			</header>
			<p class="sr_help"></p>
			<div class="sr_result">
				<div>
					<div class="sr_picture"></div>
					<div class="sr_name">稻香村精致五仁月饼</div>
					<div class="sr_goodSelect">精选</div>
					<div class="sr_price">100g/块</div>
					<div class="sr_priceInfo">
						<span class="sr_priceNum">￥12</span>
						￥13.8
						<span class="sr_remedy">补货中</span>
					</div>
				</div>
				<div>
					<div class="sr_picture"></div>
					<div class="sr_name">稻香村精致五仁月饼</div>
					<div class="sr_goodSelect">精选</div>
					<div class="sr_price">100g/块</div>
					<div class="sr_priceInfo">
						<span class="sr_priceNum">￥12</span>
						￥13.8
						<span class="sr_remedy">补货中</span>
					</div>
				</div>
				<div>
					<div class="sr_picture"></div>
					<div class="sr_name">稻香村精致五仁月饼</div>
					<div class="sr_goodSelect">精选</div>
					<div class="sr_price">100g/块</div>
					<div class="sr_priceInfo">
						<span class="sr_priceNum">￥12</span>
						￥13.8
						<span class="sr_remedy">补货中</span>
					</div>
				</div>
				
			</div>
			
			<div class="sr_noMore">
				<p>无更多商品</p>
			</div>
			
			
			
			
			
			
		</div>
		<!--右下角的购物车-->
			<div class="sr_outer">	
					<img src="img/secondKillCart.png" />
					<div class="sr_inner">
						5
					</div>
			</div>
			
	