
			<header class="si_header">
				<a href="#home" class="back"></a>
				<input type="text" placeholder="请输入商品名称"/>
				<a href="#searchResult" class="ser">搜索</a>
			</header>
			
			<p class="si_help"></p>
			<div class="si_hotSearch">
			    <p>热门搜索</p>
			    <div>
			    	<a href="##">大闸蟹</a>
				    <a href="##">水</a>
				    <a href="##">中秋月饼</a>
				    <a href="##">酸奶</a>
				    <a href="##">啤酒</a>
				    <a href="##">西瓜</a>
				    <a href="##">大荔冬枣</a>
				    <a href="##">贝儿蛋糕</a>
				    <a href="##">月盛斋</a>
			    </div>
			    
			</div>
			
			<div class="si_history">
				<p>历史记录</p>
				<div>
					<a href="##">大闸蟹</a>
				</div>
			</div>
			
			<div class="si_clear">
				<div>清空历史</div>
			</div>