
		<header class="sk_top">
			<a href="#home"><img src="img/back.png"></a>
			<span>疯狂秒杀</span>
			<img src="img/fresh.png" />
		</header>
		<div class="sk_help"></div>
		
<!--		banner部分-->
		<div class="sk_banner">
			<img src="img/secondKillBanner.jpg" />
		</div>
		
		<!--抢购时间-->
		<ul class="sk_activ">
			<li>
				<div class="sk_time">10:00</div>
				<div class="sk_intro">已结束</div>
				<div class="sk_icon"></div>
			</li>
			<li>
				<div class="sk_time">12:00</div>
				<div class="sk_intro">正在抢购</div>
				<div class="sk_icon"></div>
			</li>
			<li>
				<div class="sk_time">14:00</div>
				<div class="sk_intro">即将开始</div>
				<div class="sk_icon"></div>
			</li>
			<li>
				<div class="sk_time">16:00</div>
				<div class="sk_intro">即将开始</div>
				<div class="sk_icon"></div>
			</li>
		</ul>
		<p class="sk_clearfix"></p>
		<!--倒计时-->
		<div class="sk_countTime">
			<div class="sk_endTime">
				<p class="sk_warn">距离本场结束</p>
				<p class="sk_timer">00:03:56</p>
			</div>
			<input type="button" value="查看活动规则" />
		</div>
<p class="sk_clearfix"></p>

<!--商品展示-->
		<div class="sk_goods">
			
			
			
			
			<!--右下角的购物车-->
			<div class="sk_outer">	
					<img src="img/secondKillCart.png" />
					<div class="sk_inner">
						5
					</div>
			</div>
	
		</div>
		<p class="sk_helpBottom"></h6>
		
