<div id="ct_box">

	<div class="ct_title">
		<span></span>
		<p>购物车</p>
	</div>
	<p class="ct_help"></p>
	<div class="ct_needLocation">
		鲜蜂侠需要您的精确坐标
		<!--<input type="text" value="鲜蜂侠需要您的精确坐标"/>-->
	</div>

	<!--当购物车中有商品的时候  有下面table+div显示收货地址-->
	<table class="ct_tle">
		<thead></thead>
		<tbody>
			<tr>
				<td>收&nbsp;&nbsp;货&nbsp;&nbsp;人</td>
				<td>xx 女士</td>
			</tr>
			<tr>
				<td>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</td>
				<td>12312312345</td>
				<div class="ct_tdspe">修改<img src="img/positionUpdate.png" />
					<div>
			</tr>
			<tr>
				<td>收货地址</td>
				<td>北京市北京市政府1号</td>
			</tr>
		</tbody>

	</table>

	<div class="ct_quickSend">
		<p><span></span>闪送超市</p>
		<p>￥0起送，22:00前满￥30减免运费，22:00后满￥69减免运费</p>
	</div>
	<div class="ct_time">
		收货时间<span>一小时送达</span><span>可预订 &gt;</span>
	</div>
	<div class="ct_remark">
		收货备注 <input type="text" placeholder="可输入100字以内特殊要求内容" />
	</div>
	<div class="ct_item">
		<ul class="ct_list">
			<!--
				<li class="ct_li">
				<div class="ct_select"></div>
				<div class="ct_picture">
					<img src="img/pear.jpg" />
				</div>
				<div class="ct_info">
					<p class = "ct_tit">蜂蜜.15度蜜梨</p>
					<p class="ct_price">￥2.9</p>
				</div>
				<div class="ct_number">
					<span class="ct_minus">-</span>
					<span class="ct_num">1</span>
					<span class="ct_add">+</span>
				</div>
			</li>
			-->
		</ul>
	</div>

	<div class="ct_selectOk">
		<div class="ct_select ct_price ct_choose">
			<span class="ct_choose">全选</span>
		</div>
		<div class="ct_total">
			共：<span class="ct_priceAll">￥2.9</span>
		</div>
		<div class="ct_ok">选好了</div>
	</div>

	</div>
	<p class="ct_helpBottom"></p>