
		<!--标题部分-->
		<div class="ap_title">
				<a href="#my" class="ap_back" ></a>
				<p>添加地址</p>
				<a href="##">保存</a>
		</div>
			<p class="ap_help"></p>
			
			
		<!--添加的信息部分-->
		<table class="ap_table">
			<tr>
				<td>联系人</td>
				<td><input type="text" placeholder="收货人姓名"/></td>
			</tr>
			<tr>
				<td></td>
				<td><span id="male"></span><label for="male">先生</label>
				<span id="female"></span><label for="female">女士</label>
				</td>
			</tr>
			<tr>
				<td>手机号码</td>
				<td><input type="text" placeholder="鲜蜂侠联系您的电话"/></td>
			</tr>
			<tr>
				<td>所在城市</td>
				<td class="ap_sel">
					<select>
					<option selected="selected">请选择城市</option>
					<option>北京市</option>
					<option>杭州市</option>
					<option>成都市</option>
					<option>上海市</option>
					<option>深圳市</option>
				</select></td>
			</tr>
			<tr>
				<td>所在地区</td>
				<td><input type="text" placeholder="请选择您的住宅小区、大厦或学校"/></td>
			</tr>
			<tr>
				<td>详细地区</td>
				<td><input type="text" placeholder="请输入楼号门牌号等详细信息"/></td>
			</tr>
			
	</table>